@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5 text-center">

    <h2>ATM Dashboard</h2>
    <br />

    @if (!(bool)ViewBag.HasAccount)
    {
        <div class="alert alert-warning">
            You don't have a bank account yet.
        </div>

        <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-primary btn-lg">
            Create Account
        </a>
    }
    else
    {
        <div class="alert alert-success">
            Your account is active.
        </div>

        <div class="d-flex justify-content-center gap-3">

            <a asp-controller="Transaction" asp-action="Deposit" class="btn btn-success">
                Deposit
            </a>

            <a asp-controller="Transaction" asp-action="Withdraw" class="btn btn-danger">
                Withdraw
            </a>

            <a asp-controller="Transaction" asp-action="Balance" class="btn btn-info">
                Check Balance
            </a>

            <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-info">
                Create Another Account
            </a>

        </div>
    }

</div>