@model List<ATM_Simulation_System.Models.Account>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5 text-center">

    <h2>ATM Dashboard</h2>
    <br />

    @if (!Model.Any())
    {
        <div class="alert alert-warning">
            You don't have a bank account yet.
        </div>

        <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-primary btn-lg">
            Create Account
        </a>
    }
    else
    {
        <div class="row justify-content-center">

            @foreach (var acc in Model)
            {
                <div class="col-md-4">
                    <div class="card p-4 shadow-lg text-center">

                        <h5>@acc.AccountType Account</h5>
                        <p>Account No: @acc.AccountNumber</p>
                        <p>Balance: ₹@acc.Balance</p>

                        <a asp-controller="Transaction"
                           asp-action="Index"
                           asp-route-id="@acc.UserId"
                           class="btn btn-success">
                            Open
                        </a>

                    </div>
                </div>
            }

        </div>

        @if (Model.Count < 2)
        {
            <br />
            <a asp-controller="Account" asp-action="CreateAccount"
               class="btn btn-primary">
                Create Another Account
            </a>
        }       
    }


</div>