@model List<ATM_Simulation_System.Models.Account>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container mt-5 text-center">

    <h2>ATM Dashboard</h2>
    <br />

    @* Error Messages *@
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    @if (TempData["Error"] != null)
    {
        <div class="text-danger mb-3">
            @TempData["Error"]
        </div>
    }

    @if (!Model.Any())
    {
        <div class="alert alert-warning">
            You don't have a bank account yet.
        </div>

        <a asp-controller="Account" asp-action="CreateAccount" class="btn btn-primary btn-lg">
            Create Account
        </a>
    }
    else
    {
        <div class="row justify-content-center">

            @foreach (var acc in Model)
            {
                <div class="col-md-4">
                    <div class="card p-4 shadow-lg text-center">

                        <h3 class="">@acc.AccountType Account</h3> <br />

                        <div>
                            @if (acc.Cards == null || !acc.Cards.Any())
                            {
                                <a asp-controller="Card"
                                   asp-action="CreateCard"
                                   asp-route-accountId="@acc.AccountId"
                                   class="btn btn-success btn-sm mb-2 w-50">
                                    Get Card
                                </a>
                            }
                            else
                            {
                                <button class="btn btn-secondary btn-sm mb-2 w-50" hidden>
                                    Card Generated
                                </button>
                            }

                            @if (acc.Cards == null || !acc.Cards.Any())
                            {
                                <button class="btn btn-secondary btn-sm w-50" hidden>
                                    Open
                                </button>
                            }
                            else
                            {
                                <a asp-controller="Dashboard"
                                   asp-action="VerifyPin"
                                   asp-route-accountId="@acc.AccountId"
                                   class="btn btn-success btn-sm w-50">
                                    Open
                                </a>
                            }
                        </div>
                        
                    </div>
                </div>
            }

        </div>

        @if (Model.Count < 2)
        {
            <br />
            <a asp-controller="Account" asp-action="CreateAccount"
               class="btn btn-primary">
                Create Another Account
            </a>
        }       
    }


</div>