@{
    ViewData["Title"] = "Verify Pin";
}

<h1 class="mb-4 text-center">Enter 4 Digit PIN</h1>

<div class="row justify-content-center">
    <div class="col-md-4">

        <div class="text-danger mb-3" asp-validation-summary="All"></div>

        <form asp-action="VerifyPin" method="post">

            <!-- IMPORTANT -->
            <input type="hidden" name="accountId" value="@ViewBag.AccountId" />

            <!-- Enter PIN -->
            <div class="mb-3">
                <label class="form-label">Enter PIN</label>
                <input type="password" name="pin" id="pin" maxlength="4"
                       pattern="[0-9]{4}" inputmode="numeric"
                       class="form-control" placeholder="Enter 4 digit PIN"
                       required />
            </div>

            <div class="mb-3 d-flex gap-2">

                <button type="submit"
                        class="btn btn-primary btn-sm flex-fill">
                    Verify PIN
                </button>

                <a asp-controller="Dashboard"
                   asp-action="Index"
                   class="btn btn-secondary btn-sm flex-fill">
                    Cancel
                </a>

            </div>

        </form>

    </div>

</div>

@section Scripts {

    <script>

        function allowDigitsOnly(input){

            input.addEventListener("input", function(){

                if(/[^0-9]/.test(this.value)){
                    this.value = this.value.replace(/[^0-9]/g,'');
                }

            });

        }

        allowDigitsOnly(document.getElementById("pin"));

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}